html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'TT Lakes', sans-serif; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Thin.ttf);
  src: local("TT Lakes Thin"), local("TTLakes-Thin"), url(./fonts/TTLakes-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-ExtraLight.ttf);
  src: local("TT Lakes ExtraLight"), local("TTLakes-ExtraLight"), url(./fonts/TTLakes-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Light.ttf);
  src: local("TT Lakes Light"), local("TTLakes-Light"), url(./fonts/TTLakes-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.ttf);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.ttf);
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-DemiBold.ttf);
  src: local("TT Lakes DemiBold"), local("TTLakes-DemiBold"), url(./fonts/TTLakes-DemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Bold.ttf);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

.body--block {
  overflow: hidden; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden; }
  @media (min-width: 1440px) {
    .container {
      display: flex; } }

.sidebar {
  position: absolute;
  z-index: 3;
  left: -200%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100vh;
  width: 288px;
  background-color: #fff;
  transition: 0.5s;
  overflow: auto; }
  .sidebar--open {
    left: 0;
    box-shadow: 16px 0px 52px 0px #0E185033; }
  @media (min-width: 768px) {
    .sidebar {
      padding: 24px; } }
  @media (min-width: 1440px) {
    .sidebar {
      position: relative;
      z-index: 1;
      height: 100vh;
      left: 0;
      box-shadow: none;
      transition: 0.5s;
      overflow: visible; } }
  .sidebar::-webkit-scrollbar {
    display: none; }

.sidebar__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .sidebar__header {
      margin-bottom: 24px; } }
  @media (min-width: 1440px) {
    .sidebar__header {
      margin-bottom: 32px;
      justify-content: space-between; }
      .sidebar__header .sidebar__btn-menu {
        display: none;
        margin-right: 0; } }
  .sidebar__header .sidebar__btn-menu {
    margin-right: 16px; }
  .sidebar__header .sidebar__btn-search {
    margin-left: auto; }

.sidebar__list {
  margin-top: 0;
  margin-bottom: auto; }
  @media (min-width: 1440px) {
    .sidebar__list {
      margin-bottom: 240px; } }
  .sidebar__list .menu-list__item:not(:last-child) {
    margin-bottom: 24px; }

.sidebar__communication {
  padding: 0;
  margin-top: 32px;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .sidebar__communication {
      margin-bottom: 24px; } }
  @media (min-width: 1440px) {
    .sidebar__communication {
      margin-top: 0; } }

.sidebar__tel {
  margin-top: 12px;
  margin-bottom: 8px; }
  @media (min-width: 1440px) {
    .sidebar__tel {
      margin-bottom: 40px; } }

.sidebar__language {
  margin: 0 0 32px 0; }
  .sidebar__language .language-list__item:not(:last-child) {
    margin-right: 7px; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-height: 40px;
  border: 1px solid #FF3E79;
  border-radius: 50%;
  background-color: #FF3E79;
  cursor: pointer; }
  .btn--inverse {
    background-color: inherit;
    border: 2px solid #FF3E79; }
  .btn--ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TT Lakes", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 120px;
    min-height: 32px;
    border-radius: 16px;
    color: #fff; }
    .btn--ellipse::after {
      content: url(./static/btn-order.svg);
      margin-left: 10px; }
  .btn:hover, .btn:active {
    transition: 0.3s;
    opacity: 0.6;
    transform: scale(1.1); }

.img-logo:hover, .img-logo:active {
  transition: 0.3s;
  opacity: 0.6; }

.menu-list {
  list-style: none;
  padding: 0; }

.menu-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: #1B1C21; }
  .menu-link:hover, .menu-link:active {
    color: #7E7E82; }
  .menu-link::before {
    content: '';
    width: 8px;
    height: 32px;
    opacity: 0;
    border-radius: 8px;
    background-color: #41F6D7;
    margin-right: 12px;
    margin-left: -20px; }
  @media (min-width: 768px) {
    .menu-link::before {
      margin-right: 20px;
      margin-left: -28px; } }
  .menu-link:hover::before, .menu-link:active::before {
    opacity: 1; }
  .menu-link--active {
    color: #7E7E82; }
  .menu-link--active::before {
    content: '';
    width: 8px;
    height: 32px;
    opacity: 1;
    border-radius: 8px;
    background-color: #41F6D7;
    margin-right: 12px;
    margin-left: -20px; }
  @media (min-width: 768px) {
    .menu-link--active::before {
      margin-right: 20px;
      margin-left: -28px; } }

.btn-communication {
  display: flex;
  padding: 0;
  list-style: none; }
  .btn-communication__item:not(:last-child) {
    margin-right: 16px; }

.email-link {
  text-decoration: none;
  color: #1B1C21; }
  .email-link:hover, .email-link:active {
    text-decoration: underline;
    color: #7E7E82; }

.tel-link {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #1B1C21; }
  .tel-link:hover, .tel-link:active {
    text-decoration: underline;
    color: #7E7E82; }

.language-list {
  display: flex;
  list-style: none;
  padding: 0; }

.language-link {
  font-weight: 500;
  text-decoration: none;
  color: #1B1C21; }
  .language-link:hover, .language-link:active {
    text-decoration: underline;
    color: #7E7E82; }
  .language-link--active {
    text-decoration: underline;
    color: #7E7E82; }

.overlay {
  display: none; }
  .overlay--active {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7); }

.sidebar-fb {
  position: absolute;
  z-index: 3;
  right: -200%;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 16px 16px;
  height: 100vh;
  min-width: 288px;
  max-width: 408px;
  background-color: #fff;
  transition: 0.5s;
  overflow: auto; }
  @media (min-width: 440px) {
    .sidebar-fb {
      padding: 24px 32px 32px 32px; } }
  .sidebar-fb--open {
    right: 0;
    box-shadow: 16px 0px 52px 0px #0E185033; }
  .sidebar-fb::-webkit-scrollbar {
    display: none; }

.sidebar-fb__title {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 24px; }
  .sidebar-fb__title::before {
    content: '';
    margin-left: -20px;
    margin-right: 12px;
    width: 8px;
    height: 40px;
    border-radius: 6px;
    background-color: #41F6D7; }
    @media (min-width: 440px) {
      .sidebar-fb__title::before {
        margin-left: -36px;
        margin-right: 28px; } }

.sidebar-fb__text {
  margin-top: 0;
  margin-bottom: 16px; }

.sidebar-fb__send {
  margin-left: auto;
  margin-bottom: 75px; }

.title-sidebar {
  font-size: 28px;
  color: #1B1C21; }

.form-sidebar {
  display: flex;
  flex-direction: column; }
  .form-sidebar__user {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid #EAEAEA;
    border-radius: 6px; }
    .form-sidebar__user:focus {
      outline: none;
      border: 1px solid #41F6D7; }

.text-sidebar {
  font-size: 14px;
  font-weight: 500;
  color: #7E7E82; }

.link-sidebar {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #FF3E79; }
  .link-sidebar:hover, .link-sidebar:active {
    text-decoration: underline; }

.sidebar-call {
  position: absolute;
  z-index: 3;
  right: -200%;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 16px 16px;
  height: 100vh;
  min-width: 288px;
  max-width: 408px;
  background-color: #fff;
  transition: 0.5s;
  overflow: auto; }
  @media (min-width: 440px) {
    .sidebar-call {
      padding: 24px 32px 32px 32px; } }
  .sidebar-call--open {
    right: 0;
    box-shadow: 16px 0px 52px 0px #0E185033; }
  .sidebar-call::-webkit-scrollbar {
    display: none; }

.sidebar-call__title {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 24px; }
  .sidebar-call__title::before {
    content: '';
    margin-left: -20px;
    margin-right: 12px;
    width: 8px;
    height: 40px;
    border-radius: 6px;
    background-color: #41F6D7; }
    @media (min-width: 440px) {
      .sidebar-call__title::before {
        margin-left: -36px;
        margin-right: 28px; } }

.sidebar-call__text {
  margin-top: 0;
  margin-bottom: 16px; }

.sidebar-call__send {
  margin-left: auto;
  margin-bottom: 75px; }

.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  overflow: hidden; }
  @media (min-width: 1440px) {
    .wrapper-page {
      max-width: 1120px; } }
  .wrapper-page::-webkit-scrollbar {
    display: none; }

.header {
  display: flex;
  flex-direction: column-reverse; }
  @media (min-width: 1440px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
      background-color: #F8F8F8; } }

.header__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 24px 16px; }
  .header__title::before {
    content: '';
    margin-left: -20px;
    margin-right: 12px;
    width: 8px;
    height: 40px;
    border-radius: 6px;
    background-color: #41F6D7; }
  @media (min-width: 768px) {
    .header__title {
      padding: 24px 24px 32px 24px; }
      .header__title::before {
        margin-left: -28px;
        margin-right: 20px; } }
  @media (min-width: 1120px) {
    .header__title {
      padding: 24px 32px 32px 32px; }
      .header__title::before {
        margin-left: -36px;
        margin-right: 28px; } }
  @media (min-width: 1440px) {
    .header__title {
      padding: 40px 32px 20px 32px; } }

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #D9FFF5; }
  @media (min-width: 768px) {
    .header__wrapper {
      padding: 24px; } }
  @media (min-width: 1120px) {
    .header__wrapper {
      padding: 24px 32px; } }

.header__block-menu {
  display: flex;
  align-items: center;
  margin-right: auto; }
  .header__block-menu .header__btn-menu {
    margin-right: 16px; }
  @media (min-width: 1440px) {
    .header__block-menu {
      display: none; } }

.header__block-communication {
  display: none;
  margin: 0; }
  @media (min-width: 768px) {
    .header__block-communication {
      margin-right: 16px;
      display: flex; } }
  @media (min-width: 1440px) {
    .header__block-communication {
      display: none; } }

.header__block-repair {
  display: flex;
  align-items: center; }
  .header__block-repair::before {
    content: '';
    margin-right: 16px;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA; }
    @media (min-width: 1440px) {
      .header__block-repair::before {
        display: none; } }
  .header__block-repair .btn:nth-child(2) {
    margin-right: 16px; }
    @media (min-width: 1440px) {
      .header__block-repair .btn:nth-child(2) {
        margin-right: 32px; } }

.header__btn-text {
  display: none; }
  @media (min-width: 1440px) {
    .header__btn-text {
      display: inline-block;
      margin-right: 20px; } }

.title-page {
  font-size: 28px;
  color: #1B1C21;
  background-color: #F8F8F8; }

.btn-text {
  color: #1B1C21;
  font-weight: 500; }

.nav {
  background-color: #F8F8F8; }

.nav__list {
  display: flex;
  overflow-x: scroll;
  list-style: none;
  white-space: nowrap;
  padding: 0;
  margin: 0 16px 24px 16px; }
  .nav__list::-webkit-scrollbar {
    display: none; }
  .nav__list .nav__item:not(:last-child) {
    margin-right: 10px; }
  @media (min-width: 768px) {
    .nav__list {
      margin: 0 24px 24px 24px; } }
  @media (min-width: 1120px) {
    .nav__list {
      margin: 0 32px 24px 32px;
      flex-wrap: wrap; } }

.nav-link {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  border: 2px solid #F8F8F8;
  border-radius: 6px;
  color: #7E7E82; }
  .nav-link:hover, .nav-link:active {
    background-color: #fff;
    border: 2px solid #B8FFEC; }

.main {
  background-color: #F8F8F8; }

.company {
  border-bottom: 1px solid #D9FFF5; }
  @media (min-width: 768px) {
    .company {
      display: flex; } }
  .company .company__wrapper {
    margin: 0 16px 16px 16px; }
    @media (min-width: 768px) {
      .company .company__wrapper {
        margin: 0 24px 24px 24px; } }
    @media (min-width: 1120px) {
      .company .company__wrapper {
        margin: 0 32px 24px 32px; } }

.description-company {
  list-style: none;
  padding: 0;
  transition: 1s; }

.company__description {
  margin-top: 0;
  margin-bottom: 13px; }
  .company__description--open {
    height: 80px;
    overflow: hidden; }
    @media (min-width: 338px) {
      .company__description--open {
        height: 64px; } }
    @media (min-width: 449px) {
      .company__description--open {
        height: 48px; } }
    @media (min-width: 623px) {
      .company__description--open {
        height: 32px; } }
    @media (min-width: 768px) {
      .company__description--open {
        height: 125px; } }
    @media (min-width: 999px) {
      .company__description--open {
        height: 110px; } }
    @media (min-width: 1023px) {
      .company__description--open {
        height: 94px; } }
  .company__description .description-company__item:not(:first-child) {
    margin-top: 14px; }
  .company__description .description-company__text {
    margin: 0; }

.company__btn {
  margin-left: 10px; }

.company__img-nameplate {
  margin-bottom: 16px;
  width: 100%;
  height: auto; }
  @media (min-width: 768px) {
    .company__img-nameplate {
      width: 360px;
      height: 260px;
      border-radius: 6px;
      margin-right: 24px; } }
  @media (min-width: 1120px) {
    .company__img-nameplate {
      width: 530px;
      height: auto;
      margin-right: 32px; } }

.text-description {
  font-size: 14px;
  color: #1B1C21; }

.btn-dropdown {
  padding: 0;
  font-family: "TT Lakes", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: none;
  color: #1B1C21;
  background-color: inherit;
  cursor: pointer; }
  .btn-dropdown:hover, .btn-dropdown:active {
    transition: 0.3s;
    opacity: 0.6; }
  .btn-dropdown--open::before {
    content: url(./static/read-open.svg);
    margin-right: 10px;
    vertical-align: middle; }
  .btn-dropdown--close::before {
    content: url(./static/read-close.svg);
    margin-right: 10px;
    vertical-align: middle; }

.section {
  border-bottom: 1px solid #D9FFF5; }

.section__title {
  margin: 0;
  padding: 16px; }
  @media (min-width: 768px) {
    .section__title {
      padding: 24px; } }
  @media (min-width: 1120px) {
    .section__title {
      padding: 24px 32px; } }

.section__wrapper {
  padding: 16px 16px 42px 16px; }
  @media (min-width: 768px) {
    .section__wrapper {
      padding: 24px; } }
  @media (min-width: 1120px) {
    .section__wrapper {
      padding: 24px 32px; } }
  .section__wrapper .section__brand {
    margin: 0; }
  .section__wrapper .section__btn-brands {
    display: none; }
    @media (min-width: 768px) {
      .section__wrapper .section__btn-brands {
        display: inline-block;
        margin-top: 24px;
        margin-left: 10px; } }

.section__technics {
  margin: 0; }

.section__btn-technics {
  display: none; }
  @media (min-width: 768px) {
    .section__btn-technics {
      display: inline-block;
      margin-top: 24px;
      margin-left: 10px; } }

.section__services {
  margin: 0; }

.section_condition {
  margin: 0 16px; }
  @media (min-width: 768px) {
    .section_condition {
      width: 420px;
      margin: 0 24px; } }
  @media (min-width: 1120px) {
    .section_condition {
      margin: 0 32px; } }

.section__link {
  margin: 16px 16px 32px 16px; }
  @media (min-width: 768px) {
    .section__link {
      margin: 16px 24px 32px 24px; } }
  @media (min-width: 1120px) {
    .section__link {
      margin: 16px 32px 32px 32px; } }

.sub-title {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7E7E82;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); }

.swiper-pagination-bullet {
  background-color: #7E7E82; }

.brand-list {
  list-style: none;
  padding: 0; }
  .brand-list:not(:last-child) {
    margin-right: 16px; }
  @media (min-width: 768px) {
    .brand-list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 16px;
      -moz-column-gap: 24px;
           column-gap: 24px; }
      .brand-list--open {
        height: 163px;
        overflow: hidden; } }
  @media (min-width: 1120px) {
    .brand-list {
      -moz-column-gap: 32px;
           column-gap: 32px; } }

.brand-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 72px;
  width: 206px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: #fff;
  flex-shrink: 0; }
  @media (min-width: 768px) {
    .brand-list__item {
      width: 190px; } }
  @media (min-width: 1120px) {
    .brand-list__item {
      width: 206px; } }

.technics-list {
  list-style: none;
  padding: 0;
  row-gap: 16px;
  -moz-column-gap: 24px;
       column-gap: 24px; }
  @media (min-width: 768px) {
    .technics-list {
      display: flex;
      flex-wrap: wrap; }
      .technics-list--open {
        height: 194px;
        overflow: hidden; } }
  @media (min-width: 1120px) {
    .technics-list {
      -moz-column-gap: 32px;
           column-gap: 32px; } }

.technics-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;
  height: 160px;
  width: 206px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: #fff;
  flex-shrink: 0; }
  .technics-list__item .technics-list__type {
    align-self: flex-start;
    margin: 0; }
  @media (min-width: 768px) {
    .technics-list__item {
      width: 190px; } }
  @media (min-width: 1120px) {
    .technics-list__item {
      width: 206px; } }

.services-list {
  list-style: none;
  padding: 0; }
  @media (min-width: 768px) {
    .services-list {
      display: flex;
      flex-direction: column;
      width: 100%; } }

.services-list__subtitle {
  display: none; }
  @media (min-width: 768px) {
    .services-list__subtitle {
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
      font-size: 14px;
      font-weight: 500;
      color: #7E7E82;
      margin: 0; }
      .services-list__subtitle .services-list__wrapper-subtitle {
        display: flex;
        justify-content: space-between;
        width: 45%; }
        .services-list__subtitle .services-list__wrapper-subtitle .services-list__subtitle-time {
          width: 70%; } }

.services-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  width: 228px;
  height: 168px;
  border-radius: 6px;
  background-color: #fff; }
  @media (min-width: 768px) {
    .services-list__item {
      flex-direction: row;
      align-items: center;
      width: auto;
      height: 46px;
      border-radius: 0; }
      .services-list__item:not(:last-child)::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 1px;
        width: calc(100% - 32px);
        background-color: #EAEAEA; }
      .services-list__item:nth-child(2) {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px; }
      .services-list__item:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px; } }
  @media (min-width: 1120px) {
    .services-list__item {
      padding: 16px 24px; }
      .services-list__item:not(:last-child)::after {
        width: calc(100% - 48px); } }
  .services-list__item:not(:last-child) {
    margin-right: 16px; }
    @media (min-width: 768px) {
      .services-list__item:not(:last-child) {
        margin-right: 0; } }
  @media (min-width: 768px) {
    .services-list__item .services-list__wrapper:last-child {
      width: 45%; } }
  @media (min-width: 768px) {
    .services-list__item .services-list__wrapper-caption {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .services-list__item .services-list__blok-caption {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px; }
    @media (min-width: 768px) {
      .services-list__item .services-list__blok-caption {
        align-items: center;
        margin-top: 0;
        width: 70%; } }

.services-list__caption {
  font-size: 14px;
  font-weight: 500;
  color: #7E7E82;
  margin: 0; }
  @media (min-width: 768px) {
    .services-list__caption {
      display: none; } }

.services-list__text {
  font-size: 14px;
  font-weight: 500;
  color: #1B1C21;
  margin: 0; }

.offer-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #1B1C21;
  text-decoration: none; }
  .offer-link::after {
    content: url(./static/btn-open.svg);
    vertical-align: middle;
    margin-left: 8px; }
  .offer-link:hover, .offer-link:active {
    transition: 0.3s;
    opacity: 0.6;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F8F8;
  padding: 16px; }
  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 16px 24px; } }
  @media (min-width: 1120px) {
    .footer {
      padding: 16px 32px; } }

.footer__development {
  margin: 16px 0 0 0;
  text-align: center; }
  @media (min-width: 768px) {
    .footer__development {
      margin: 0;
      text-align: start; } }

.footer__confidentiality {
  margin: 16px 0 0 0;
  text-align: center; }
  @media (min-width: 768px) {
    .footer__confidentiality {
      margin: 0; } }

.footer__offer {
  margin: 16px 0 0 0;
  text-align: center; }
  @media (min-width: 768px) {
    .footer__offer {
      margin: 0;
      text-align: end; } }

.text-footer {
  font-size: 14px;
  color: #7E7E82; }
  .text-footer--link {
    display: inline-block;
    text-decoration: none; }
    .text-footer--link:hover, .text-footer--link:active {
      text-decoration: underline; }
  @media (min-width: 768px) {
    .text-footer {
      width: 33.333%; } }


/*# sourceMappingURL=style.css.map*/