.btn-dropdown {
    padding: 0;
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    border: none;
    color: $main_text;
    background-color: inherit;
    cursor: pointer;

    &:hover,
    &:active {
        transition: 0.3s;
        opacity: 0.6;
    }

    &--open::before {
        content: url(../img/read-open.svg);
        margin-right: 10px;
        vertical-align: middle;
    }

    &--close::before {
        content: url(../img/read-close.svg);
        margin-right: 10px;
        vertical-align: middle;
    }
}