.description-company {
    list-style: none;
    padding: 0;
    transition: 1s;
}

// company description

.company__description {
    margin-top: 0;
    margin-bottom: 13px;

    &--open {
        height: 80px;
        overflow: hidden;

        @media (min-width: 338px) {
            height: 64px;
        }

        @media (min-width: 449px) {
            height: 48px;
        }

        @media (min-width: 623px) {
            height: 32px;
        }

        @media (min-width: 768px) {
            height: 125px;
        }

        @media (min-width: 999px) {
            height: 110px;
        }
    
        @media (min-width: 1023px) {
            height: 94px;
        }
    }
    .description-company__text {
        margin: 0;
    }

    .description-company__text:not(:first-child) {
        margin-top: 14px;
    }
}

// company btn

.company__btn {
    margin-left: 10px;
}

// nameplate

.company__img-nameplate {
    margin-bottom: 16px;
    width: 100%;
    height: auto;

    @media (min-width: 768px) {
        width: 360px;
        height: 260px;
        border-radius: 6px;
        margin-right: 24px;
    }

    @media (min-width: 1120px) {
        width: 530px;
        height: auto;
        margin-right: 32px;
    }
}