.description-company {
    list-style: none;
    padding: 0;
    transition: 1s;
}

// company description

.company__description {
    margin-top: 0;
    margin-bottom: 14px;

    &--open {
        height: 90px;
        overflow: hidden;

        @media (min-width: 768px) {
            height: 124px;
        }
    
        @media (min-width: 1024px) {
            height: 105px;
        }
    }

    .description-company__item:not(:first-child) {
        margin-top: 14px;
    }

    .description-company__text {
        margin: 0;
    }
}

// company btn

.company__btn {
    margin-left: 10px;
}

// nameplate

.company__img-nameplate {
    margin-bottom: 16px;
    width: 100%;
    height: auto;

    @media (min-width: 768px) {
        width: 360px;
        height: 260px;
        border-radius: 6px;
        margin-right: 24px;
    }

    @media (min-width: 1120px) {
        width: 530px;
        height: auto;
        margin-right: 32px;
    }
}